body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  font-weight: 700;
}

p {
  font-size: 22px;
  margin: 5px;
}

button {
  border: none;
  cursor: pointer;
}

.score-card button:hover {
  background-color: #FFF;
  color: #db04db;
}

.play-board button:hover {
  background-color: #FFF;
  color: #db04db;
}

.game-characters button:hover {
  background-color: #ff42ff;
}

.main-page{
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 98vh;
  width: 100%;
  color: #FFF;
}

.play-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 98vh;
  width: 100%;
  flex: 4;
  padding-top: 20px;
  font-size: 75px;
  background-color: #ff42ff;
}

.score-card {
  padding-top: 20px;
  background-color:#ff75ff;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
}

.player-prompt {
  padding-top: 13px;
  font-size: 28px;
  font-weight: 300;
}

.token {
  font-size: 55px;
}

.name {
  font-size: 28px;
  padding-bottom: 30px;
  font-weight: 300;
}

.score {
  font-size: 22px;
  font-weight: 100;
}

.change-game {
  margin-top: 70px;
  font-size: 15px;
  color: #FFF;
  height: 46px;
  width: 160px;
  background-color: #db04db;
}
.game-option {
  height: 200px;
  width: 400px;
  background-color: #db04db;
  margin: 20px 0px 30px 0px;
  padding-top: 10px;
  font-size: 33px;
  color: #FFF;
}

.full-character-lineup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 800px;
}

.game-characters {
  margin: 20px 0px 30px 0px;
  padding-top: 30px;
  font-size: 33px;
}

.characters {
  height: 200px;
  width: 200px;
  background-size: 100%;
  background-color: #ff42ff;
  margin:20px 10px 40px 0px;
}

#difficult{
  height: 260px;
}

.rock {
  background-image: url("./assets/happy-rocks.png");
}

.paper {
  background-image: url("./assets/black-and-white-paper.png");
}

.scissors {
  background-image: url("./assets/happy-scissors.png");
}

.venusaur {
  background-image: url("./assets/evolution-3-venusaur.png");
}

.fletchinder {
  background-image: url("./assets/evolution-2-fletchinder.png");
}
.hidden {
  display: none !important;
}
